/* Frame 1 */

position: relative;
width: 1000px;
height: 1501px;

background: #1C3272;


/* Ellipse 1 */

position: absolute;
width: 380px;
height: 353px;
left: 524px;
top: 372px;

background: #779BC0;


/* cabeçalho */

position: absolute;
width: 1000px;
height: 161.31px;
left: 0px;
top: -5.31px;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 1000px;
height: 104px;
left: 0px;
top: -1px;

background: #F2B33D;


/* Cursos */

position: absolute;
width: 173px;
height: 45px;
left: 131px;
top: 103px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 77.7%;
/* ou 29px */
display: flex;
align-items: center;

color: #FFFFFF;



/* Disciplinas */

position: absolute;
width: 254px;
height: 42px;
left: 373px;
top: 108px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 77.7%;
/* ou 29px */
display: flex;
align-items: center;

color: #FFFFFF;



/* Conta */

position: absolute;
width: 136px;
height: 21px;
left: 753px;
top: 118px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 77.7%;
/* ou 29px */
display: flex;
align-items: center;

color: #FFFFFF;



/* logo */

position: absolute;
width: 838.81px;
height: 100.73px;
left: 63.18px;
top: -5.31px;

transform: rotate(1deg);


/* BOA PERGUNTA */

position: absolute;
width: 833.75px;
height: 84.48px;
left: 64.66px;
top: 9.24px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 88px;
line-height: 52.7%;
/* ou 46px */
display: flex;
align-items: center;
text-align: center;

background: linear-gradient(180deg, #000000 0%, #1C3272 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

transform: matrix(1, 0, 0.04, 1, 0, 0);


/* ! */

position: absolute;
width: 46.6px;
height: 58.88px;
left: 805.45px;
top: 27.63px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 77.7%;
/* ou 75px */
display: flex;
align-items: center;

background: linear-gradient(180deg, #000000 0%, #1C3272 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

transform: rotate(1deg);


/* pngwing.com (3) 1 */

box-sizing: border-box;

position: absolute;
width: 43px;
height: 43px;
left: 708px;
top: 113px;

background: url(pngwing.com (3).png);


/* pngwing.com (5) 1 */

position: absolute;
width: 207px;
height: 207px;
left: 918px;
top: 578px;

background: url(pngwing.com (5).png), url(pngwing.com (5).png), url(pngwing.com (5).png);


/* pngwing.com (5) 2 */

position: absolute;
width: 207px;
height: 207px;
left: -141px;
top: 582px;

background: url(pngwing.com (5).png), url(pngwing.com (5).png), url(pngwing.com (5).png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* parte de baixo */

position: absolute;
width: 1008px;
height: 775px;
left: -8px;
top: 726px;



/* Rectangle 3 */

position: absolute;
width: 1001px;
height: 775px;
left: -1px;
top: 726px;

background: #1C3272;


/* QUAIS SÃO AS MATÉRIAS? */

position: absolute;
width: 806px;
height: 57px;
left: 97px;
top: 789px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 77.7%;
/* ou 36px */
display: flex;
align-items: center;

color: #FFFCF6;



/* E MUITO MAIS!! */

position: absolute;
width: 484px;
height: 57px;
left: 271px;
top: 1327px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 77.7%;
/* ou 36px */
display: flex;
align-items: center;

color: #FFFFFF;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 286px;
height: 392px;
left: 27px;
top: 907px;

background: #1C3272;
border: 3px solid #F2B33D;


/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 286px;
height: 392px;
left: 357px;
top: 907px;

background: #1C3272;
border: 3px solid #F2B33D;


/* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 286px;
height: 392px;
left: 686px;
top: 907px;

background: #1C3272;
border: 3px solid #F2B33D;


/* cabeçalho */

position: absolute;
width: 1008px;
height: 241px;
left: -8px;
top: 1260px;



/* image-removebg-preview (4) 1 */

position: absolute;
width: 191px;
height: 191px;
left: -8px;
top: 1260px;

background: url(image-removebg-preview (4).png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 1 */

position: absolute;
width: 1000px;
height: 80px;
left: 0px;
top: 1421px;

background: #3B5B8A;


/* Desenvolvido por */

position: absolute;
width: 251px;
height: 15px;
left: 405px;
top: 1445px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 77.7%;
/* ou 22px */
display: flex;
align-items: center;
text-align: right;

color: #F2B33D;



/* Filipe Laissa Pedro Isadora */

position: absolute;
width: 168px;
height: 15.19px;
left: 737px;
top: 1451.38px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 95.7%;
/* ou 18px */
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #F2B33D;



/* BOA PERGUNTA */

position: absolute;
width: 143.69px;
height: 57.44px;
left: 9.33px;
top: 1431.25px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 27.7%;
/* ou 11px */
display: flex;
align-items: center;
text-align: center;

color: #F2B33D;

transform: matrix(1, -0.03, 0.05, 1, 0, 0);


/* ! */

position: absolute;
width: 29px;
height: 46.97px;
left: 156px;
top: 1437.79px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 77.7%;
/* ou 75px */
display: flex;
align-items: center;

color: #F2B33D;



/* ! */

position: absolute;
width: 29px;
height: 46.97px;
left: 876px;
top: 1445.3px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 77.7%;
/* ou 75px */
display: flex;
align-items: center;

color: #F2B33D;



/* CORPO */

position: absolute;
width: 981px;
height: 731px;
left: -9px;
top: 113px;



/* O jeito fácil de aprender mais do curso! */

position: absolute;
width: 431px;
height: 145px;
left: 64px;
top: 355px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 77.7%;
/* ou 36px */
display: flex;
align-items: center;
text-align: center;

color: #F2B33D;



/* Rectangle 2 */

position: absolute;
width: 207.91px;
height: 53.98px;
left: 176px;
top: 538px;

background: #3B5B8A;


/* COMECE AGORA! */

position: absolute;
width: 217px;
height: 25px;
left: 188.45px;
top: 551.98px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 77.7%;
/* ou 14px */
display: flex;
align-items: center;

color: #FFFFFF;



/* DESENVOLVIMENTO */

position: absolute;
width: 856px;
height: 168px;
left: 115px;
top: 113px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 68px;
line-height: 77.7%;
/* ou 53px */
display: flex;
align-items: center;

color: rgba(59, 91, 138, 0.76);



/* DESENVOLVIMENTO */

position: absolute;
width: 856px;
height: 168px;
left: 115px;
top: 204px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 68px;
line-height: 77.7%;
/* ou 53px */
display: flex;
align-items: center;

color: rgba(59, 91, 138, 0.5);



/* ChatGPT_Image_25_de_mai._de_2026__11_36_10-removebg-preview 1 */

position: absolute;
width: 524px;
height: 524px;
left: 448px;
top: 320px;

background: url(ChatGPT_Image_25_de_mai._de_2026__11_36_10-removebg-preview.png);


/* pngwing.com (4) 1 */

position: absolute;
width: 111.58px;
height: 111.58px;
left: -9px;
top: 177px;

background: url(pngwing.com (4).png);
transform: matrix(-0.99, 0.12, 0.12, 0.99, 0, 0);


/* DESENVOLVIMENTO */

position: absolute;
width: 856px;
height: 168px;
left: 115px;
top: 156px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 68px;
line-height: 77.7%;
/* ou 53px */
display: flex;
align-items: center;

color: #FFFFFF;

border: 1.5px solid rgba(255, 255, 255, 0.66);


/* Programação web */

position: absolute;
width: 242px;
height: 31px;
left: 49px;
top: 922px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 77.7%;
/* ou 22px */
display: flex;
align-items: center;
text-align: center;

color: #F2B33D;



/* Banco de Dados */

position: absolute;
width: 242px;
height: 31px;
left: 708px;
top: 922px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 77.7%;
/* ou 22px */
display: flex;
align-items: center;
text-align: center;

color: #F2B33D;



/* Design de interface */

position: absolute;
width: 242px;
height: 31px;
left: 379px;
top: 925px;

font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 77.7%;
/* ou 22px */
display: flex;
align-items: center;
text-align: center;

color: #F2B33D;



/* image-removebg-preview (3) 1 */

position: absolute;
width: 94px;
height: 99px;
left: 656px;
top: 1423px;

background: url(image-removebg-preview (3).png);
